.h1-top
  %h1
    = "#{@menu.title} for #{@menu.restaurant.name}"
.container
  .row
    .col-md-8.col-xs-12
      - if !@menu.dishes.nil?
        %p
          Dishes:
        .dishes
        - @menu.dishes.each do |dish|
          %ul
            %li
              = link_to dish.name, dish
      - if (can? :manage, Menu) && (current_user = @menu.restaurant.user)
        = link_to 'Edit Menu', edit_menu_path(@menu)