- @headline = "Forgot your password?"
.row
  .col-md-8.col-xs-12
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'form-group') do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      .actions
        = f.submit 'Send me reset password instructions', class: 'btn btn-warning'
    = render 'devise/shared/links'
