.h1-top
  %h1
    = "#{@dish.name} for #{@dish.restaurant.name}"
.container
  .row
    .col-md-8.col-xs-12
      %p
        Dish description: #{@dish.description}
      %p
        Dish price: #{@dish.price}
      %p
        Allergens: #{@dish.allergies}
      %p
        Ingredients: #{@dish.ingredients}
      %p
        Calories: #{@dish.calories}
      %h4
        Menu(s):
      %ul
      - @dish.menus.each do |menu|
        %li
          = menu.title
      %p
      - if can? :create, ShoppingCart
        = link_to 'Add to cart', dish_add_item_path(@dish), method: :post, class: 'btn btn-success'
      - if (can? :manage, Dish) && (current_user == @dish.restaurant.user)
      - binding.pry
        = link_to 'Edit dish', edit_dish_path(@dish), class: 'btn btn-primary'